body {
	background: black url('images/background/1.gif');
  color: red;
  font-family: Verdana;
}

/*homepage*/
#main {
	margin: 50px 100px;
	border: 15px solid transparent;
	border-image-source: url(/images/misc/blt.gif);
	border-image-repeat: round;
	background-color: #847c7c;
	border-image-slice: 30;
	min-height: 700px;
	width: 400px;
	background: #333;
}

