body {
	background: black url('images/background/1.gif');
  color: red;
  font-family: Verdana;
}

/*homepage*/
#main {
	margin: 50px 100px;
	border: 15px solid transparent;
	border-image-source: url(/images/misc/blt.gif);
	border-image-repeat: round;
	border-image-slice: 21;
	min-height: 500px;
	width: 400px;
	background: #222;
}

#links {
	margin: 50px 100px;
	border: 15px solid transparent;
	border-image-source: url(/images/misc/blt.gif);
	border-image-repeat: round;
	border-image-slice: 21;
	width: 400px;
	background: #222;
}

#top {
	height:20px;
	width:100%;
}

#nav {
	height:50px;
	width:100%;
}
